@import 'breakpoints.scss';
@import 'varibles.scss';

//Page Styles

//Component Styles

//Import font

@font-face {
  font-family: 'Circular-std';
  src: url(./fonts/circular.woff) format('opentype');
}

body,
html {
  user-select: none;
  background: $background;
  color: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Circular-std", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: $lrg_container;
  min-width: $lrg_container;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: $lrg_container;
    min-width: $lrg_container;
  }
  @include media("<=desktop") {
    width: 812px;
    min-width: 812px
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
    padding: 0 32px;
    @include media("<=phone") {
        padding: 0 16px;
    }
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 32px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.page {
  min-height: 100vh;
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}